* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F2F2F2;
}
.header{
    display: flex;
    align-items: center;
    justify-content:space-between
}

.cadastrar_inicio{
    font-family: "Jomhuria", serif;
    font-size: 50px;
    color: #fff;
    text-transform:capitalize;

}

.botao_cadastro{
    background-color: #35533D;
    height: 70px;
    width: 178px;
    margin-right: 90px;
    border-radius: 5px;
    border: none;
}

.nome_site{
    font-family: "Jomhuria", serif;
    margin: 80px;
    font-size:150px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
}


.campos_tabela{
    display: flex;
    height: 99px;
    width: 94%;
    background-color: #47654F;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    border-radius: 5px 5px 0px 0px;
   
}

.id_medico{
    font-family: "Jomhuria", serif;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
}

.foto{
    font-family: "Jomhuria", serif;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
}

.nome{
    font-family: "Jomhuria", serif;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
}

.telefone{
    font-family: "Jomhuria", serif;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
}

.especialidade{
    font-family: "Jomhuria", serif;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
}

.crm{
    font-family: "Jomhuria", serif;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 250px;
}


.medico{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr 2fr;
    height: 99px;
    width: 94%;
    margin: 0 auto;
    align-items: center;
}


.id{
    font-family: "Jomhuria", serif;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 70px;
   
}

.nome_medico{
    font-family: "Jomhuria", serif;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 150px;
   
}

.crm_medico{
    font-family: "Jomhuria", serif;
    font-size: 60px;
    color: #fff;
    margin-left: 120px;
   
}

.telefone_medico{
    font-family: "Jomhuria", serif;
    font-size: 60px;
    color: #fff;
    margin-left: 60px;
}

.especialidade_medico{
    font-family: "Jomhuria", serif;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    margin-left: 80px;
}

.foto_medico{
    font-size: 60px;
    color: #fff;
    margin-left: 100px;
}


.botao_lixo{
    background-color: #35533D;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: none;
}

.lixo{
    width: 40px;
    height: 50px;
}


.botao_editar{
    background-color: #35533D;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: none;
}

.editar{
    width: 50px;
    height: 50px;
}

.exluir_editar{
    margin-left: 100px;
}