/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -50px;
}

.cadastrar_inicio {
    font-family: "Jomhuria", serif;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
}

.botao_cadastro {
    background-color: #35533D;
    height: 90px;
    width: 178px;
    margin-right: 90px;
    border-radius: 5px;
    border: none;
}

.nome_site {
    font-family: "Jomhuria", serif;
    margin: 80px;
    font-size: 190px;
    text-transform: uppercase;
    font-weight: 500;
    
}



.id, .nome_medico, .crm_medico, .telefone_medico, .especialidade_medico {
    font-family: "Jomhuria", serif;
    color: #fff;
    text-transform: capitalize;
}

.foto_medico {
    margin-top: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%; 
}
.usersemfoto{
    height: 70px;
}




.id{
    margin-left: 10px;
}



table {
    width: 94%;
    margin: 0 auto;
    border-collapse: collapse;
    border-width: 0px;
    background-color: #47654F;
    border-radius: 5px;
    overflow: hidden; 
    box-shadow: 3px 5px 15px 3px #888; ;
    
}


thead {
    background-color: #35533D;
}

thead th {
    font-family: "Jomhuria", serif;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    padding: 10px  20px;
    font-weight: 400;
    
}


tbody tr {
    display: table-row;
    text-align: center;
    height: 99px;
}

tbody tr:nth-child(even) {
    background-color: #3E523F;
 
}

tbody tr:hover {
    background-color: #2F3D33; 
}


td, th {
    padding: 15px;
    font-family: "Jomhuria", serif;
    font-size: 45px;
    color: #fff;
    text-transform: capitalize;

    
}


td img {
    max-height: 100px;
    border-radius: 5px;
}


.botao_lixo, .botao_editar {
    background-color: #25472E;
    height: 70px;
    width: 70px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.botao_lixo img, .botao_editar img {
    width: 60px;
    height: 60px;
}

.exluir_editar {
    display: flex;
    justify-content: center;
    gap: 5px;
}


@media(max-width: 1920px){
    .id, .nome_medico, .crm_medico, .telefone_medico, .especialidade_medico {
        font-size: 60px;
    }   
}


@media (max-width: 1024px) {
    thead th {
        font-size: 40px;
    }
    td, th {
        font-size: 35px;
    }
    td img {
        max-width: 80px;
    }
    .botao_lixo, .botao_editar {
        width: 40px;
        height: 40px;
    }
    .id, .nome_medico, .crm_medico, .telefone_medico, .especialidade_medico {
        font-size: 50px;
    }

    .nome_site{
        font-size: 130px;
    }

    .cadastrar_inicio {
        font-size: 40px;
    }
    
    .botao_cadastro {
        height: 60px;
        width: 130px;
     
    }

}

@media (max-width: 1280px){
    table {
        width: 90%;
    }
    thead th {
        font-size: 50px;
    }
    td, th {
        font-size: 20px; /* Ajuste aqui */
    }
    .botao_lixo, .botao_editar{
        width: 60px;
        height: 60px;
    }

    .exluir_editar{
        display: flex;
        gap: 5px;
    }
    .id, .nome_medico, .crm_medico, .telefone_medico, .especialidade_medico {
        font-size: 50px;
    }
}







